.home-header {
    color: red;
}

.green_text {

   color: white;
}

.background {
  background-color: orange;
}

.btn {

}


.white_text {
  color: #ffffff;
}

.blue_text {

  color: #0e0673;
  padding: 20px
}

.image {
background-image:url('/blue-background-images-8.jpg');
}

.width_letters {
  width: 140%
}
